In [35]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
import os

In [49]:
browser = webdriver.Firefox(executable_path='C:\Drivers\geckodriver-v0.27.0-win64\geckodriver.exe')

In [50]:
temp_data ={}
for year in range(2013,2019):
    Avg_temp = []
    Max_temp = []
    Min_temp = []
    Atm_pressure = []
    Avg_relative_humidity = []
    Total_rainfall_snowmelt= []
    Avg_visibility= []
    Avg_wind_speed= []
    Max_sustained_wind_speed= []
    
    for month in range(1,13):
        
        if month<10:
            browser.get("http://en.tutiempo.net/climate/0{}-{}/ws-432950.html".format(month, year))

            html = browser.page_source
            soup = BeautifulSoup(html, "html.parser")
            table = soup.find_all("table")
            row = table[3].select("tr")
            

            if month == 2:
                j = 29
                for i in row[1:j]:
                    Avg_temp.append(i.find_all("td")[1].text.strip())
                    Max_temp.append(i.find_all("td")[2].text.strip())
                    Min_temp.append(i.find_all("td")[3].text.strip())
                    Atm_pressure.append(i.find_all("td")[4].text.strip())
                    Avg_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Avg_visibility.append(i.find_all("td")[7].text.strip())
                    Avg_wind_speed.append(i.find_all("td")[8].text.strip())
                    Max_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                    
            elif month == 4 or month == 6 or month == 9:
                for i in row[1:31]:
                    Avg_temp.append(i.find_all("td")[1].text.strip())
                    Max_temp.append(i.find_all("td")[2].text.strip())
                    Min_temp.append(i.find_all("td")[3].text.strip())
                    Atm_pressure.append(i.find_all("td")[4].text.strip())
                    Avg_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Avg_visibility.append(i.find_all("td")[7].text.strip())
                    Avg_wind_speed.append(i.find_all("td")[8].text.strip())
                    Max_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                
                
            else:
                for i in row[1:32]:
                    Avg_temp.append(i.find_all("td")[1].text.strip())
                    Max_temp.append(i.find_all("td")[2].text.strip())
                    Min_temp.append(i.find_all("td")[3].text.strip())
                    Atm_pressure.append(i.find_all("td")[4].text.strip())
                    Avg_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Avg_visibility.append(i.find_all("td")[7].text.strip())
                    Avg_wind_speed.append(i.find_all("td")[8].text.strip())
                    Max_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                

        else:
            browser.get("http://en.tutiempo.net/climate/{}-{}/ws-432950.html".format(month, year))
            html = browser.page_source
            soup = BeautifulSoup(html, "html.parser")
            table = soup.find_all("table")
            row = table[3].select("tr")
            
            if month == 11:
                 for i in row[1:31]:
                    Avg_temp.append(i.find_all("td")[1].text.strip())
                    Max_temp.append(i.find_all("td")[2].text.strip())
                    Min_temp.append(i.find_all("td")[3].text.strip())
                    Atm_pressure.append(i.find_all("td")[4].text.strip())
                    Avg_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Avg_visibility.append(i.find_all("td")[7].text.strip())
                    Avg_wind_speed.append(i.find_all("td")[8].text.strip())
                    Max_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                    
                    
                    
            else:
                for i in row[1:32]:
                    Avg_temp.append(i.find_all("td")[1].text.strip())
                    Max_temp.append(i.find_all("td")[2].text.strip())
                    Min_temp.append(i.find_all("td")[3].text.strip())
                    Atm_pressure.append(i.find_all("td")[4].text.strip())
                    Avg_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Avg_visibility.append(i.find_all("td")[7].text.strip())
                    Avg_wind_speed.append(i.find_all("td")[8].text.strip())
                    Max_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                    
    
    data = pd.DataFrame({"Avg_temp":Avg_temp,
                        "Max_temp": Max_temp, 
                        "Min_temp" : Min_temp,
                        "Atm_pressure":Atm_pressure, 
                        "Avg_relative_humidity(%)": Avg_relative_humidity,
                        "Total_rainfall_snowmelt(mm)":Total_rainfall_snowmelt, 
                        "Avg_visibility": Avg_visibility,
                        "Avg_wind_speed": Avg_wind_speed, 
                        "Max_sustained_wind_speed": Max_sustained_wind_speed})
    
    temp_data[year] = data

In [51]:
temp_data

{2013:     Avg_temp Max_temp Min_temp Atm_pressure Avg_relative_humidity(%)  \
 0       23.4     30.3       19            -                       59
 1       22.4     30.3     16.9            -                       57
 2         24     31.8     16.9            -                       51
 3
 4
 ..       ...      ...      ...          ...                      ...
 360     20.6     27.4       16            -                       65
 361
 362
 363
 364     20.1     27.5     14.9            -                       67

     Total_rainfall_snowmelt(mm) Avg_visibility Avg_wind_speed  \
 0                             0            6.3            4.3
 1                             0            6.9            3.3
 2                             0            6.9            2.8
 3
 4
 ..                          ...            ...            ...
 360                           0            6.3            3.9
 361
 362
 363
 364                           0            6.9            4.3

     Max_sustained_wind_speed
 0                        5.4
 1                        7.6
 2                        5.4
 3
 4
 ..                       ...
 360                      7.6
 361
 362
 363
 364                      5.4

 [365 rows x 9 columns],
 2014:     Avg_temp Max_temp Min_temp Atm_pressure Avg_relative_humidity(%)  \
 0       20.3     26.4       16            -                       70
 1       20.1     26.4     16.6            -                       70
 2       21.2     28.4       15            -                       67
 3
 4
 ..       ...      ...      ...          ...                      ...
 360     20.8     27.4     13.9            -                       58
 361
 362
 363
 364        -        -        -            -                        -

     Total_rainfall_snowmelt(mm) Avg_visibility Avg_wind_speed  \
 0                             0            6.3            3.1
 1                             0            5.5            2.8
 2                             0            6.9            2.4
 3
 4
 ..                          ...            ...            ...
 360                           0            7.7              2
 361
 362
 363
 364                           -              -              -

     Max_sustained_wind_speed
 0                        3.5
 1                        3.5
 2                        5.4
 3
 4
 ..                       ...
 360                      5.4
 361
 362
 363
 364                        -

 [365 rows x 9 columns],
 2015:     Avg_temp Max_temp Min_temp Atm_pressure Avg_relative_humidity(%)  \
 0       22.3     29.5     19.2            -                       77
 1       22.2     29.2     17.6            -                       71
 2       22.1     29.2     18.7            -                       76
 3
 4
 ..       ...      ...      ...          ...                      ...
 360     21.8     27.7     17.9            -                       72
 361
 362
 363
 364        -        -        -            -                        -

     Total_rainfall_snowmelt(mm) Avg_visibility Avg_wind_speed  \
 0                          7.62            6.3            0.9
 1                          1.52            5.5            1.9
 2                             0              6            1.3
 3
 4
 ..                          ...            ...            ...
 360                           0            5.3            2.8
 361
 362
 363
 364                           -              -              -

     Max_sustained_wind_speed
 0                        3.5
 1                        7.6
 2                        3.5
 3
 4
 ..                       ...
 360                      5.4
 361
 362
 363
 364                        -

 [365 rows x 9 columns],
 2016:     Avg_temp Max_temp Min_temp Atm_pressure Avg_relative_humidity(%)  \
 0       20.1     28.4     15.7            -                       54
 1       20.8     28.3     12.9            -                       45
 2       21.4       29     13.7            -                       45
 3
 4
 ..       ...      ...      ...          ...                      ...
 360     21.5     30.4     14.9            -                       42
 361
 362
 363
 364        -        -        -            -                        -

     Total_rainfall_snowmelt(mm) Avg_visibility Avg_wind_speed  \
 0                             0              6              3
 1                             0            6.3            1.1
 2                             0            6.3            0.4
 3
 4
 ..                          ...            ...            ...
 360                           0              6              3
 361
 362
 363
 364                           -              -              -

     Max_sustained_wind_speed
 0                        5.4
 1                        5.4
 2                        3.5
 3
 4
 ..                       ...
 360                      5.4
 361
 362
 363
 364                        -

 [365 rows x 9 columns],
 2017:     Avg_temp Max_temp Min_temp Atm_pressure Avg_relative_humidity(%)  \
 0         21     27.6     14.6            -                       61
 1       21.6     27.7       17            -                       59
 2       22.3       29     16.1            -                       48
 3
 4
 ..       ...      ...      ...          ...                      ...
 360     20.6     29.2     15.5            -                       57
 361
 362
 363
 364        -        -        -            -                        -

     Total_rainfall_snowmelt(mm) Avg_visibility Avg_wind_speed  \
 0                             0              6            2.2
 1                             0            6.8              2
 2                             0            6.9            2.8
 3
 4
 ..                          ...            ...            ...
 360                           0            5.8            4.6
 361
 362
 363
 364                           -              -              -

     Max_sustained_wind_speed
 0                        3.5
 1                        3.5
 2                        3.5
 3
 4
 ..                       ...
 360                      5.4
 361
 362
 363
 364                        -

 [365 rows x 9 columns],
 2018:     Avg_temp Max_temp Min_temp Atm_pressure Avg_relative_humidity(%)  \
 0       22.2     28.4     16.6            -                       53
 1       22.1     28.9     17.8            -                       58
 2       22.2       29     18.4            -                       62
 3
 4
 ..       ...      ...      ...          ...                      ...
 360       24     31.4       19            -                       63
 361
 362
 363
 364     20.9     25.8     16.6            -                       51

     Total_rainfall_snowmelt(mm) Avg_visibility Avg_wind_speed  \
 0                             0            7.7            0.9
 1                             0            5.1            1.1
 2                             0              6            3.9
 3
 4
 ..                          ...            ...            ...
 360                           0            6.3            5.4
 361
 362
 363
 364                           0            6.6            3.9

     Max_sustained_wind_speed
 0                        5.4
 1                          -
 2                        5.4
 3
 4
 ..                       ...
 360                      7.6
 361
 362
 363
 364                     11.1

 [365 rows x 9 columns]}

In [52]:
semi_data = pd.concat([temp_data[i] for i in temp_data],axis=0)
semi_data

,Avg_temp,Max_temp,Min_temp,Atm_pressure,Avg_relative_humidity(%),Total_rainfall_snowmelt(mm),Avg_visibility,Avg_wind_speed,Max_sustained_wind_speed
0,23.4,30.3,19,-,59,0,6.3,4.3,5.4
1,22.4,30.3,16.9,-,57,0,6.9,3.3,7.6
2,24,31.8,16.9,-,51,0,6.9,2.8,5.4
3,,,,,,,,,
4,,,,,,,,,
...,...,...,...,...,...,...,...,...,...
360,24,31.4,19,-,63,0,6.3,5.4,7.6
361,,,,,,,,,
362,,,,,,,,,
363,,,,,,,,,
364,20.9,25.8,16.6,-,51,0,6.6,3.9,11.1

In [53]:
semi_data.shape

(2190, 9)

In [54]:
from Avg_AQI import avg_data_2013, avg_data_2014, avg_data_2015, avg_data_2016, avg_data_2017, avg_data_2018

In [24]:
data_2013 = pd.Series(avg_data_2013())
data_2014 = pd.Series(avg_data_2014())
data_2015 = pd.Series(avg_data_2015())
data_2016 = pd.Series(avg_data_2016())
data_2017 = pd.Series(avg_data_2017())
data_2018 = pd.Series(avg_data_2018())

In [55]:
pm_ = pd.concat([data_2013, data_2014, data_2015, data_2016, data_2017, data_2018], axis=0, ignore_index=True)
pm_

0       284.795833
1       219.720833
2       182.187500
3       115.287500
4         0.000000
           ...
2183    223.250000
2184    248.958333
2185    441.416667
2186    237.791667
2187    334.875000
Length: 2188, dtype: float64

In [56]:
semi_data['PM2.5'] = pm_

In [57]:
semi_data

,Avg_temp,Max_temp,Min_temp,Atm_pressure,Avg_relative_humidity(%),Total_rainfall_snowmelt(mm),Avg_visibility,Avg_wind_speed,Max_sustained_wind_speed,PM2.5
0,23.4,30.3,19,-,59,0,6.3,4.3,5.4,284.795833
1,22.4,30.3,16.9,-,57,0,6.9,3.3,7.6,219.720833
2,24,31.8,16.9,-,51,0,6.9,2.8,5.4,182.187500
3,,,,,,,,,,115.287500
4,,,,,,,,,,0.000000
...,...,...,...,...,...,...,...,...,...,...
360,24,31.4,19,-,63,0,6.3,5.4,7.6,186.041667
361,,,,,,,,,,185.583333
362,,,,,,,,,,114.083333
363,,,,,,,,,,140.458333
364,20.9,25.8,16.6,-,51,0,6.6,3.9,11.1,108.083333

In [58]:
semi_data[semi_data.loc[:,:].isin(['','-'])] = np.nan

In [61]:
semi_data

,Avg_temp,Max_temp,Min_temp,Atm_pressure,Avg_relative_humidity(%),Total_rainfall_snowmelt(mm),Avg_visibility,Avg_wind_speed,Max_sustained_wind_speed,PM2.5
0,23.4,30.3,19,NaN,59,0,6.3,4.3,5.4,284.795833
1,22.4,30.3,16.9,NaN,57,0,6.9,3.3,7.6,219.720833
2,24,31.8,16.9,NaN,51,0,6.9,2.8,5.4,182.187500
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.287500
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...
360,24,31.4,19,NaN,63,0,6.3,5.4,7.6,186.041667
361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.583333
362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.083333
363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.458333
364,20.9,25.8,16.6,NaN,51,0,6.6,3.9,11.1,108.083333

In [62]:
semi_data = semi_data.drop('Atm_pressure',axis=1)
semi_data.head()

,Avg_temp,Max_temp,Min_temp,Avg_relative_humidity(%),Total_rainfall_snowmelt(mm),Avg_visibility,Avg_wind_speed,Max_sustained_wind_speed,PM2.5
0,23.4,30.3,19,59,0,6.3,4.3,5.4,284.795833
1,22.4,30.3,16.9,57,0,6.9,3.3,7.6,219.720833
2,24,31.8,16.9,51,0,6.9,2.8,5.4,182.187500
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.287500
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

In [63]:
final_data = semi_data.dropna()

In [65]:
final_data.reset_index(inplace= True)

In [67]:
final_data.drop('index',axis=1, inplace=True)

C:\Users\Stavan\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [68]:
final_data

,Avg_temp,Max_temp,Min_temp,Avg_relative_humidity(%),Total_rainfall_snowmelt(mm),Avg_visibility,Avg_wind_speed,Max_sustained_wind_speed,PM2.5
0,23.4,30.3,19,59,0,6.3,4.3,5.4,284.795833
1,22.4,30.3,16.9,57,0,6.9,3.3,7.6,219.720833
2,24,31.8,16.9,51,0,6.9,2.8,5.4,182.187500
3,22.8,30.2,17.6,55,0,7.7,3.7,7.6,154.037500
4,23.1,30.6,17.4,46,0,6.9,3.3,5.4,223.208333
...,...,...,...,...,...,...,...,...,...
1047,22.7,28.4,18.1,65,0,6.3,3.9,5.4,288.416667
1048,23.4,29.1,18.4,62,0,6,5.7,9.4,166.916667
1049,23.8,30.2,17.7,56,0,5.5,6.1,9.4,169.000000
1050,24,31.4,19,63,0,6.3,5.4,7.6,186.041667
1051,20.9,25.8,16.6,51,0,6.6,3.9,11.1,108.083333

In [71]:
final_data.to_excel('C:/Users/Stavan/Desktop/Projects/AQI/final_data.xlsx')

In [73]:
final_data.to_csv("C:/Users/Stavan/Desktop/Projects/AQI/final_data.csv")